---
import { DecoratedText } from '@components';
import { site } from '@data';
import { Base } from '@layouts';
import type { Locale } from '@types';

export const getStaticPaths = () => site.locales.map((locale) => ({ params: { locale } }));

const { locale } = Astro.params as { locale: Locale };
---

<Base {locale}>
	<DecoratedText>
		<h1>Hej {locale} en welkom he!</h1>
	</DecoratedText>

	<br>

	<DecoratedText>
		<p>1, 2, 3 test</p>
	</DecoratedText>
</Base>
