---
import { site } from '@data';
import { Base } from '@layouts';
import type { Locale } from '@types';

export const getStaticPaths = () => site.locales.map((locale) => ({ params: { locale } }));

const { locale } = Astro.params as { locale: Locale };
---

<Base {locale}>
	<h1>Hej {locale}</h1>
	<p>1, 2, 3 test</p>
</Base>
