:root {
    --color-background-0: #f5f5f2;
	--color-background-1: #e0e1dd;
	--color-background-2: #acb7c3;
	--color-text: #0d1b2a;
	--color-text-inverse: #f5f5f2;

	background-color: var(--color-background-0);
	color: var(--color-text);
}
