---
import { Image, DecoratedText } from '@components';

const { title, subtitle, image } = Astro.props;
---

<div class="hero-block">
	<div>
		<div class="hero-block__text">
			<DecoratedText>
				<h1>{title}</h1>
			</DecoratedText>
			<DecoratedText>
				<p>{subtitle}</p>
			</DecoratedText>
		</div>
		<Image
			{...image.responsiveImage}
			loading="eager"
		/>
	</div>
</div>

<style>
	.hero-block {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: full;
		margin-top: -3rem;
		height: 98lvh;
		overflow: hidden;
	}

	.hero-block > div {
		position: relative;
		grid-column: content;
		container: hero-text / inline-size;
	}

	.hero-block__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		max-width: 600px;
		height: 100%;
	}

	h1 {
		font-size: clamp(4.375rem, 2.2917rem + 10.4167vw, 7.5rem);
	}

	.hero-block :global(img) {
		position: absolute;
		bottom: 0;
		left: clamp(20%, calc(20% + (30 * ((100% - 320px) / 480))), 50%);
		opacity: 0.95;
		z-index: -1;
		mix-blend-mode: darken;
		width: auto;
		max-width: unset;
		height: calc(100% - (3rem + 6rem));
		object-fit: cover;
	}

	@media (prefers-color-scheme: dark) {
		.hero-block :global(img) {
			opacity: 0.8;
			mix-blend-mode: lighten;
		}
	}
</style>
