---
import { Image, DecoratedText } from '@components';

const { title, subtitle, image } = Astro.props;
---

<div class="hero-block">
    <div>
        <div class="hero-block__text">
            <DecoratedText>
                <h1>{title}</h1>
            </DecoratedText>
            <DecoratedText>
                <p>{subtitle}</p>
            </DecoratedText>
        </div>
        <Image {...image.responsiveImage} loading="eager" />
    </div>
</div>

<style>
    .hero-block {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: full;
        overflow: hidden;
        height: 95dvh;
        margin-top: -3rem;
    }

    .hero-block > div {
        grid-column: content;
        position: relative;
        container: hero-text / inline-size;
    }

    .hero-block__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 100%;
        max-width: 500px;
    }

    h1 {
        font-size: clamp(4.6875rem, 2.8125rem + 9.375cqi, 7.5rem);
    }

    .hero-block :global(img) {
        height: calc(100% - (3rem + 6rem));
        width: auto;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: clamp(20%, calc(20% + (30 * ((100% - 320px) / 480))), 50%);
        z-index: -1;
        mix-blend-mode: darken;
        max-width: unset;
        opacity: 0.95;
    }

    @media (prefers-color-scheme: dark) {
    	.hero-block :global(img) {
            mix-blend-mode: lighten;
            opacity: 0.8;
        }
    }
</style>
