<div>
	<slot />
</div>

<style>
	div > :global(*) {
		--offset-x: 0.15em;
		--offset-y: 0.3em;

		display: inline;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		background-image: linear-gradient(var(--color-background-2), var(--color-background-2));
		background-position: calc(var(--offset-x) * -1) var(--offset-y);
		background-repeat: no-repeat;
		padding-left: var(--offset-x);
	}
</style>
