---
import { site } from '@data';
import en from '@icons/en.svg?raw';
import nl from '@icons/nl.svg?raw';

const icons: any = {
    en,
    nl
};

const params = Astro.params;
---

<ul>
    { site.locales.map((locale) => (
        <li>
            <a aria-current={params.locale === locale} href=`/${locale}/` set:html={icons[locale]}/>
        </li>
    )) }
</ul>

<style>
    ul {
        list-style-type: "";
        padding: 0;
        margin: 0;
        display: flex;
    }

    li {
        line-height: 0;
    }

    a {
        display: inline-block;
        padding: 1rem;
    }

    a :global(svg) {
        width: 1em;
        height: 1em;
    }
</style>
