---
const themes = ['system', 'light', 'dark'];
---

<form>
	{
		themes.map((theme) => (
			<div>
				<input
					type="radio"
					name="theme"
					id={`theme-${theme}`}
					value={theme}
					checked={theme === themes[0]}
				/>
				<label for={`theme-${theme}`}>{theme}</label>
			</div>
		))
	}
</form>

<style lang="scss">
	form {
		display: flex;
	}

	div {
		display: inline-block;
		padding: 1rem;
	}
</style>
