---
const { text } = Astro.props;
---

<div class="text-block">
	<pre>{JSON.stringify(text, null, 2)}</pre>
</div>

<style>
	.text-block {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-text);
	}
</style>
